.header {
  display: grid;
  grid-template-columns: 1fr;
  height: 80px;
  background-color: rgb(7, 7, 78);
}
.headerImg {
  width: fit-content;
  height: auto;
  width: 80px;
  position: absolute;
}
.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
  padding: 10px;
  border-radius: 2px;
  padding-left: 100px;
  padding-right: 130px;

  /* width: 50px;
  position: relative; */
  top: 0;
  right: 0;
}

.boolean {
  display: grid;
  border: solid rgb(0, 0, 0);
  margin-left: 5px;
  border-radius: 5px;
  position: relative;
}

p {
  margin-left: 10px;
  margin-top: 40px;
  margin-right: 20px;
  font-family: sans-serif;
}
.laptop {
  width: 100%;
  height: auto;
}

.icon {
  width: 5ch;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
}

.small-icons {
  text-align: right;
  padding-right: 10px;
  padding-top: 5px;
}
